<section class="fj-bio">
  <img class="fj-bio__photo" src={{photoUrl}}></img>
  <div class="fj-bio__copy">
    <h1 class="fj-bio__name">
      {{firstName}} {{lastName}}
    </h1>
    <p class="fj-bio__copy-text"> {{ bioText }} </p>
  </div>
</section>
